@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

header{
    text-align: center;
}
section.banner{
    background-image: url(../img/lemon-pie\ 1.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 340px;
    color:#fff;
}
section.banner ~ section{
    max-width: 80%;
    margin: 0 auto;
}